/* ---- reset ---- */

body {
  margin: 0;
  font-family: 'Varela', sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  // background-image: url("blocks.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.1rem;
  }
  
  .info {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 100px;
  
    img {
      width: 300px;
    }

  }

  .poster {
    position: absolute;
    right: 0px;
    bottom: -3px;
    margin: 0px;
    padding: 0px;
  
    img {
      width: 50rem;
      margin: 0px;
      padding: 0px;
    }
  }

}


/* ---- sections container ---- */

.salon-anouk {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .poster {
    position: relative;
    float: left;
    left: 0px;
    margin: 0px;
    padding: 0px;
  
    img {
      width: 50vw;
      margin: 0px;
      padding: 0px;
    }

  }

  .info {
    background-color: tomato;
    position: relative;
    float: right;
    width: 50vw;
    height: 100vh;
    right: 0px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



/* ---- sections footer ---- */

footer {
  background-color: #A1C8CF;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---- glitch effects ---- */
.glitch{
  color:black;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 #515EA2;
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 #B5979E; 
  top:0;
  color:black;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
