/* ---- reset ---- */
body {
  margin: 0;
  font-family: 'Varela', sans-serif; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  #particles-js h2 {
    font-size: 2rem; }
  #particles-js h3 {
    font-size: 1.1rem; }
  #particles-js .info {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 100px; }
    #particles-js .info img {
      width: 300px; }
  #particles-js .poster {
    position: absolute;
    right: 0px;
    bottom: -3px;
    margin: 0px;
    padding: 0px; }
    #particles-js .poster img {
      width: 50rem;
      margin: 0px;
      padding: 0px; }

/* ---- sections container ---- */
.salon-anouk {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .salon-anouk .poster {
    position: relative;
    float: left;
    left: 0px;
    margin: 0px;
    padding: 0px; }
    .salon-anouk .poster img {
      width: 50vw;
      margin: 0px;
      padding: 0px; }
  .salon-anouk .info {
    background-color: black;
    position: relative;
    float: right;
    width: 50vw;
    height: 100vh;
    right: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/* ---- sections footer ---- */
footer {
  background-color: #A1C8CF;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* ---- glitch effects ---- */
.glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(67px, 9999px, 65px, 0); }
  5% {
    clip: rect(44px, 9999px, 1px, 0); }
  10% {
    clip: rect(67px, 9999px, 73px, 0); }
  15% {
    clip: rect(63px, 9999px, 13px, 0); }
  20% {
    clip: rect(30px, 9999px, 92px, 0); }
  25% {
    clip: rect(53px, 9999px, 5px, 0); }
  30% {
    clip: rect(59px, 9999px, 23px, 0); }
  35% {
    clip: rect(48px, 9999px, 82px, 0); }
  40% {
    clip: rect(6px, 9999px, 35px, 0); }
  45% {
    clip: rect(62px, 9999px, 18px, 0); }
  50% {
    clip: rect(87px, 9999px, 16px, 0); }
  55% {
    clip: rect(14px, 9999px, 8px, 0); }
  60% {
    clip: rect(96px, 9999px, 56px, 0); }
  65% {
    clip: rect(14px, 9999px, 70px, 0); }
  70% {
    clip: rect(33px, 9999px, 42px, 0); }
  75% {
    clip: rect(26px, 9999px, 19px, 0); }
  80% {
    clip: rect(52px, 9999px, 76px, 0); }
  85% {
    clip: rect(26px, 9999px, 16px, 0); }
  90% {
    clip: rect(80px, 9999px, 13px, 0); }
  95% {
    clip: rect(13px, 9999px, 91px, 0); }
  100% {
    clip: rect(96px, 9999px, 13px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #515EA2;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(47px, 9999px, 95px, 0); }
  5% {
    clip: rect(33px, 9999px, 41px, 0); }
  10% {
    clip: rect(84px, 9999px, 3px, 0); }
  15% {
    clip: rect(36px, 9999px, 85px, 0); }
  20% {
    clip: rect(46px, 9999px, 8px, 0); }
  25% {
    clip: rect(85px, 9999px, 4px, 0); }
  30% {
    clip: rect(86px, 9999px, 42px, 0); }
  35% {
    clip: rect(89px, 9999px, 11px, 0); }
  40% {
    clip: rect(98px, 9999px, 78px, 0); }
  45% {
    clip: rect(10px, 9999px, 47px, 0); }
  50% {
    clip: rect(84px, 9999px, 91px, 0); }
  55% {
    clip: rect(73px, 9999px, 68px, 0); }
  60% {
    clip: rect(17px, 9999px, 31px, 0); }
  65% {
    clip: rect(84px, 9999px, 24px, 0); }
  70% {
    clip: rect(28px, 9999px, 16px, 0); }
  75% {
    clip: rect(48px, 9999px, 96px, 0); }
  80% {
    clip: rect(79px, 9999px, 69px, 0); }
  85% {
    clip: rect(76px, 9999px, 11px, 0); }
  90% {
    clip: rect(2px, 9999px, 11px, 0); }
  95% {
    clip: rect(97px, 9999px, 69px, 0); }
  100% {
    clip: rect(41px, 9999px, 43px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #B5979E;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
